<h1>Your new cocktail</h1>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
   <br>
   <strong>Description:</strong>
  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <br>
    <strong>Ingredient:</strong>
    <%= dose.ingredient.name %>
  <% end %>
  <br>
</p>
<%= link_to "back to Cocktail List", cocktails_path %>
<%= link_to "Add Doses", new_cocktail_dose_path(@cocktail) %>

